{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block subtitle %}Sign Up{% endblock %}


{% block only-body %}

    <div class="home-btn d-none d-sm-block">
        <a href="/static" class="text-dark">
            <i class="fas fa-home h2"></i>
        </a>
    </div>

    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="card overflow-hidden">
                        <div class="bg-soft-primary">
                            <div class="row">
                                <div class="col-7">
                                    <div class="text-primary p-4">
                                        <h5 class="text-primary">Free Register</h5>
                                        <p>Get your free account now.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div>
                                <a href="/static">
                                    <div class="avatar-md profile-user-wid mb-4">
                                            <span class="avatar-title rounded-circle bg-light">
                                                <img src="{% static 'admin/images/logos/logo-red.png' %}"
                                                     alt="" class="rounded-circle" height="45">
                                            </span>
                                    </div>
                                </a>
                            </div>
                            <div class="p-2">
                                <form class="signup" id="signup_form" method="post" action="">
                                    {% csrf_token %}
                                    <h1>Sign Up</h1>

                                    <p>Already have an account? Then please
                                        <a href="{% url 'register:login' %}">sign in</a>
                                        </p>


                                    {{ form | crispy }}
                                    {% if redirect_field_value %}
                                        <input type="hidden" name="{{ redirect_field_name }}"
                                               value="{{ redirect_field_value }}"/>
                                    {% endif %}

                                    <div class="mt-4">
                                        <button class="btn btn-success btn-block waves-effect waves-light"
                                                type="submit">Register
                                        </button>
                                    </div>

                                </form>



                                <div class="mt-4 text-center">
                                    <p class="mb-0">By registering you agree to the <a href="#"
                                                                                       class="text-primary">Terms
                                        of Use</a></p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}